* {
  margin: auto;
  padding: auto;
}

.HeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroForm {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}
