* {
  margin: auto;
  padding: auto;
}

/* NavBar */
.MyNavbar {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: yellow;
  min-height: 100px;
}

.MyHeroList {
  display: flex;
}

.MyHeroItem {
  display: flex;
  padding-right: 10px;
}
/* NavBar */

/*Hero Section */

.HeroSection {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.HeroLeftDb {
  background-color: red;
  min-width: 20vw;
  max-width: 20vw;
}

.HeroRightDb {
  background-color: green;
  min-width: 80vw;
  max-width: 80vw;
}

/*Hero Section */

/* Hero Game Section */

.HeroGameSection {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.HeroCardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  background-color: white;
  border-radius: 15px;
  margin-top: 5px;
  font-size: 3rem;
}
/* Hero Game Section */
